@using Foundation.Hackathon.Helpers.Helpers
@using Sitecore.Mvc
@model Feature.Hackathon.Globals.Models.FooterViewModel

<div class="container">
    @if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <div class="small text-center text-muted">@Model.CopyrightText</div>
    }
    else
    {
        <div class="small text-center text-muted">@Html.Sitecore().Field("Copyright", ItemHelper.GetRootItem())</div>
    }
    </div>