@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
    
<section class="page-section bg-dark text-white" id="rtf-@Model.Item.ID.ToShortID()">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-left">
                <h2 class="text-white mt-0">@Html.Sitecore().Field("Heading")</h2>
                
                @Html.Sitecore().Field("Copy")
            </div>
        </div>
    </div>
</section>